body{
  margin: 10px;
}

.home_icon{
  width: 10px;
  height: 10px;
}


h1 {
  text-align: center;
}

.tense_list{
  list-style-type: none;
  text-align: center;
}

li {
  margin-top: 1%;
  background-color: lightgreen;
}