/* Normalize CSS to ensure consistency across browsers */
@import url("normalize.css");

/* Define color variables */
:root {
  --background-color: #f0f0f5;
  --text-color: #333;
  --header-background: #333;
  --header-text-color: #fff;
  --link-color: #007acc;
  --link-hover-background: #007acc;
  --link-hover-text-color: #fff;
  --link-background: #f0f0f5;
  --link-hover-color: #005b99;
  --border-color: #eaeaea;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: var(--header-background);
  color: var(--header-text-color);
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  background: var(--header-background);
  color: var(--header-text-color);
  padding: 1rem 0;
  text-align: center;
  margin: 2rem 0 0 0;
}

.footer-list {
  list-style-type: none;
}

.footer-link {
  color: var(--header-text-color);
  text-decoration: none;
}

.footer-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-flex-item {

  text-decoration: none;
}

h1 {
  margin: 0;
}

.main-flex-container {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  flex-direction: column; /* Change to row if you want horizontal layout */
  gap: 1rem; /* Space between items */
}

.flex-item {
  display: flex;
  flex-direction: column; /* Flexbox within each item for internal alignment */
  padding: 1rem;
  background: #fff;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width of the container */
  max-width: 800px; /* Limit maximum width */
}

.flex-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-item-item {
  margin: 1rem;
}

.category-title {
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 0.5rem;
}

.tense_list {
    list-style: none;
    padding: 0;
}

.tenseLinks {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5rem 0;
}

.tenseLinks a {
  text-decoration: none;
  color: var(--link-color);
  background: var(--link-background);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: inline-block;
  transition: background 0.3s ease;
}

.tenseLinks a:hover {
  background: var(--link-hover-background);
  color: var(--link-hover-text-color);
}

/* Additional grammar practice styles */
h3 {
  text-align: center;
  margin-top: 2rem;
}

a {
    color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

button {
  border: none;
  color: var(--link-color);
}

button:hover {
  background: var(--link-hover-background);
  color: var(--link-hover-text-color);
}

@media (max-width: 600px) {
  .first-block {
    padding: 0.5rem;
  }

  .tenseLinks a {
    padding: 0.25rem 0.5rem;
  }
}


.home_icon{
  display: flex;
  margin: 1% 1% 1% 2%;
  width: 10px;
  height: 10px;
}

.input-section  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto; /* Center horizontally */
  max-width: 500px;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input {
    max-width: 150px;
    min-width: 100px;
}

#verificationImageOne {
    width: 15px;
    height: 15px;
  }
  
  #verificationImageTwo {
    width: 15px;
    height: 15px;
  }
  
  #verificationImageThree {
    width: 15px;
    height: 15px;
  }
  
  #verificationImagefour {
    width: 15px;
    height: 15px;
  }
  #verificationImageFive {
    width: 15px;
    height: 15px;
  }
  
  #verificationImageSix {
    width: 15px;
    height: 15px;
  }
  
  #verificationImageSeven {
    width: 15px;
    height: 15px;
  }
  
  #verificationImageEight {
    width: 15px;
    height: 15px;
  }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
  }
  
  /* Modal Content */
  .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  }
  
  /* The Close Button */
  .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Custom Buttons */
  .confirm-button,
  .cancel-button,
  .view-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336; /* Red */
    color: white;
  }

  .view-button {
    background-color: var(--header-background); /* Red */
    color: white;
  }


  /*for pop up menu*/

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: var(--header-background);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin: 0;
    flex: 1;
  }
  
  .collapsible {
    background-color: var(--header-background);
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    position: absolute;
    left: 10px;
  }
  
  .collapsible:after {
    font-size: 13px;
    color: var(--header-background);
    float: right;
    margin-left: 5px;
  }
  
  .content {
    padding: 0 18px;
    display: none; /* Initially hidden */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    background-color: var(--header-background);
  }
  
  .content-item {
    display: flex;
    flex-direction: column; /* Arrange list items in a column */
    margin: 10px; /* Add some spacing between content items */
  }
  
  ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 5px 0; /* Add some spacing between list items */
  }
  
  li a {
    text-decoration: none; /* Remove underline */
    color: var(--header-text-color);
  }
  
  li a:hover {
    color: blue;
  }
  
  .index-images {
    max-width: 350px;
    min-width: 100px;
    max-height: 350px;
    min-height: 100px;
  }