body{
  margin: 40px;
}

.home_icon{
  width: 10px;
  height: 10px;
}


h1 {
  text-align: center;
}

.tense_list{
  list-style-type: none;
  text-align: center;
}

.title {
  text-align: center;
  background: blue;
  height: 3em;
}

.tenseLinks {
  background: limegreen;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-align: left;
}